{% extends 'base.html' %}

{% block content %}
<h1>{{ room['name'] }}</h1>
<div class="table-container">
    <table>
        <tr>
            <th>Selecionar</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Observação</th>
            <th>Ações</th>
        </tr>
        {% for item in items %}
        <tr class="{{ 'done' if item['feito'] else '' }}">
            <td><input type="checkbox" name="selected" value="{{ item['id'] }}"></td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['status'] }}</td>
            <td>{{ item['observation'] }}</td>
            <td>
                <form action="{{ url_for('delete_item', item_id=item['id']) }}" method="post">
                    <button type="submit" class="button">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="button-container">
        <a href="{{ url_for('add_item', room_id=room['id']) }}" class="button">Adicionar Item</a>
    </div>
</div>
{% endblock %}
</html>
