{% extends 'base.html' %}

{% block content %}
<h1>Adicionar Item</h1>
<form action="{{ url_for('add_item', room_id=room_id) }}" method="POST" class="add-item-form">
    <input type="hidden" name="room_id" value="{{ room_id }}">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" required>
    
    <label for="observation">Observação:</label>
    <input type="text" id="observation" name="observation">
    
    <button type="submit" class="button">Adicionar</button>
</form>
{% endblock %}
