<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produtos de Limpeza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Controle de Itens da Casa</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Locais da Casa</a></li>
                <li><a href="{{ url_for('cleaning_products') }}">Produtos de Limpeza</a></li>
                <li><a href="{{ url_for('food_items') }}">Alimentos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Produtos de Limpeza</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product['name'] }}</td>
                    <td>{{ product['observation'] }}</td>
                    <td>
                        <div class="button-group">
                            <form action="{{ url_for('delete_cleaning_product', product_id=product.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="button">Excluir</button>
                            </form>
                            <a href="{{ url_for('edit_cleaning_product', product_id=product.id) }}" class="button">Editar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_cleaning_product') }}" class="button">Adicionar Produto de Limpeza</a>
    </main>
</body>
</html>
