<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto de Limpeza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Produto de Limpeza</h1>
        <form method="POST" action="{{ url_for('edit_cleaning_product', product_id=product.id) }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}
                {{ form.name(size=32) }}
            </div>
            <div>
                {{ form.observation.label }}
                {{ form.observation(size=64) }}
            </div>
            <div>
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
</body>
</html>
